.title-bar {
  background-color: #ffe380;
  display:flex;
  align-items: center;
  justify-content: center;
  grid-area: title;
  position: fixed;
  top: 0;
  width: 100%;
}

.title-bar h3 {
  padding: 5px;
  font-family: "Brush Script MT", cursive;
}

.main-content {
  grid-area: maincontent;
  margin: 10px;
  margin-top: 100px;
}

.bottom-bar {
  background-color: #ffe380;
  height: 1em;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  grid-area: footer;
}

