/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("./assets/castle.png");
  background-color: #93cdcf;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  margin-bottom: 1em;
}

h4 {
  font-family: "Brush Script MT", cursive;
}

p {
  font-family: "Roboto", sans-serif;
  color: white;
}

#grid-root {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "title"
    "maincontent"
    "footer";
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  position: absolute;
  top: -10px;
  right: -10px;
}

@media screen and (min-width: 800px) {
  #grid-root {
    grid-template-columns: 1.5fr 2fr;
    grid-template-areas: 
      "title title"
      ". maincontent"
      "footer footer";
  }
}
